.similar-card-container {
  background-color: #202020;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  height: 400px;
  border: 1px solid #475569;
}

.similarJobs-description {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .similar-card-container {
    width: 100%;
  }
}

.location-icon-similar {
  width: 20px;
  color: white;
}

.locationStyle-similar {
  font-size: 12px;
  color: white;
  margin-right: 15px;
  margin-left: 1px;
  /* saikrishna */
}
