.header-container {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed; /* This makes the navbar fixed */
  top: 0; /* It sticks to the top of the viewport */
  left: 0; /* You can also adjust left/right positioning as needed */
  width: 100%; /* It spans the full width of the viewport */

  z-index: 0; /* Use z-index to control the stacking order if needed */
}

.header-heads-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-heads-text {
  font-size: 18px;
  text-decoration: none;
}

.home-jobs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}
.logout-button {
  background-color: #6366f1;
  height: 36px;
  width: 126px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
}
.mobileView-icons {
  display: none;
  color: white;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .header-heads-text {
    display: none;
  }
  .logout-button {
    display: none;
  }
  .mobileView-icons {
    display: inline-block;
  }
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
  }
  .header-heads-container {
    width: 40%;
    margin-left: 10px;
  }
  .home-jobs {
    width: 60%;
    margin-right: 20px;
  }
}
