.JobDetails-bg-Container {
  background-color: black;
  min-height: 100vh;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.job-item-details-card-container {
  background-color: #272727;
  border-radius: 10px;
  border: 0;
}

.skills-main-bg-container {
  margin-top: 40px;
  padding-left: 0px;
}
.skills-bg-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0px;
}
.eachSkill-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: roboto;
  margin-left: 0px;

  width: 200px;
}

.skills-image {
  width: 20%;
  margin-right: 10px;
}

.skills-heading-style {
  font-size: 18px;
}

.life-at-company-bg-container {
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}
.description-and-visit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.life-at-company-style {
  margin-top: 50px;
  font-size: 22px;
  font-family: roboto;
}

.visit-style {
  color: #b6c5ff;
  text-decoration: none;
}

.failure-retry-button {
  background-color: #6366f1;
  height: 40px;
  width: 136px;
  color: white;
  border-radius: 5px;
  border-width: 0px;
}

.failure-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.similarCards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .JobDetails-bg-Container {
    padding-top: 140px;
  }

  .life-at-company-bg-container {
    flex-direction: column;
  }
  .skills-image {
    width: 15%;
  }
  .eachSkill-container {
    margin-right: 0px;
    width: 120px;
    padding-right: 0px;
  }

  .skills-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .skill-heading-style {
    font-size: 10px;
    margin-right: 0px;
  }
}
